<html>
   
<head>
    <title>Angular JS Filters</title>
     <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ] -->
     <link href="http://www.bugy.io/css/googlefonts.css?v=105" rel="stylesheet">
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="http://www.bugy.io/css/bootstrap.min.css?v=105" rel="stylesheet">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="http://www.bugy.io/css/nifty.min.css?v=105" rel="stylesheet">
    <!-- main.css -->
    <link href="http://www.bugy.io/css/main.css?v=105" rel="stylesheet">
    <!--pace.css-->
    <link href="http://www.bugy.io/css/pace.min.css?v=105" rel="stylesheet">
    <!--SCRIPT-->
    <!--=================================================-->
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src = "timer.js"></script>
</head>
   
<body class="panel">
    <h2>AngularJS Sample Application</h2>
      
    <div class="panel-body" ng-app = "TimerApp" ng-controller = "timerController">
        <!-- View all timers -->
        <table class="table table-bordered table-hover toggle-circle">
            <thead class="angularHead">
                <th>Timer ID</th>
                <th>User ID</th>
                <th>Project ID</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                <th>End Time</th>
                <th>Total Time</th>
                <th>Edit</th>
                <th>Delete</th>   
            </thead>
            <tr ng-repeat="t in timers | orderBy:'S_time'">
                <td>{{ t.T_id }}</td>
                <td>{{ t.U_id }}</td>
                <td>{{ t.P_id }}</td>
                <td>{{ t.S_time *1000 | date:'MM-dd-yyyy'}}</td>
                <td>{{ t.S_time *1000 | date:'HH:mm:ss'}}</td>
                <td>{{ t.E_time *1000 | date:'MM-dd-yyyy'}}</td>
                <td>{{ t.E_time *1000 | date:'HH:mm:ss'}}</td>
                <td>{{ t.T_time }}</td>
                <td><button ng-click="editTimer(t.T_id, t.U_id, t.P_id, t.S_time, t.E_time)">Edit</button></td>
                <td><button>Delete</button></td>
            </tr>	
        </table>
        <!-- Editing timers
         
        POST request to PHP page that takes in T_id and outputs JSON with all of that timer's info.
        Get JSON as response, fill in that info into the fields
        Submit button submits all the form information as post to php function. -->
        <div>
            <h2>Edit Timer</h2>
            <input type="text" size="40" ng-model="editTID"><br>
            <input type="text" size="40" ng-model="editUID"><br>
            <input type="text" size="40" ng-model="editPID"><br>
            <input type="date" size="40" ng-model="editSDATE">
            <input type="time" size="40" ng-model="editSTIME"><br>
            <input type="date" size="40" ng-model="editEDATE">
            <input type="time" size="40" ng-model="editETIME"><br>
            <button ng-click="submitEdit()">Edit Timer</button><br>
            <span id="message"></span>
        </div>
        <br>
        <!-- Adding timers 
         
        form with a bunch of pre-filled values
        submit button submits like in EDIT timer, but using the PHP function that calls INSERT instead of UPDATE-->
        <div>
            <h2>Add Timer</h2>
            <input type="text" size="40" ng-model="addTID"><br>
            <input type="text" size="40" ng-model="addUID"><br>
            <input type="text" size="40" ng-model="addPID"><br>
            <input type="date" size="40" ng-model="addSDATE">
            <input type="time" size="40" ng-model="addSTIME"><br>
            <input type="date" size="40" ng-model="addEDATE">
            <input type="time" size="40" ng-model="addETIME"><br>
            <button ng-click="submitAdd()">Add Timer</button><br>
            <span id="message"></span>
        </div>
    </div>
</body>
</html>